on init
    mkdir /persist 0771 system system

    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root

    export EXTERNAL_STORAGE /storage/sdcard0

    symlink /storage/sdcard0 /mnt/internal_sd
    symlink /storage/sdcard0 /internal_sd

on emmc-fs
    mount_all /fstab.qcom

    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on post-fs-data
    setprop vold.post_fs_data_done 1

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service rmt_storage /system/bin/rmt_storage
    class core
    disabled

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps qcom_diag

on property:ro.emmc=1
    start rmt_storage

